// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

/******* Customized Bootstrap ********/

$primary: #982fdd;
$secondary: #DEA645;
$light: #f5e6ff;
$dark: #5E1091;

$font-family-base: 'Open Sans', sans-serif;

$headings-font-family: 'Jost', sans-serif;

$body-bg: #FFFFFF;

$body-color: #6B6A75;

$headings-color: $dark;

$display-font-weight: 700;

$enable-responsive-font-sizes: true;

$border-radius: 2px;

$link-decoration: none;

$enable-negative-margins: true;
